fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.8.2
pydantic-settings==2.4.0
email-validator==2.1.1
python-dotenv==1.0.1

python-jose==3.3.0
passlib[bcrypt]==1.7.4

python-multipart==0.0.9
markdown==3.7
google-genai==1.*
openai>=1.54.0
google-cloud-storage==2.*
pillow==10.*
argon2-cffi==23.1.0
firebase-admin==6.5.0
google-cloud-firestore==2.14.0
